/* dwie wersje(bardziej dopracować tą na telefon) */
/* kolorki:
czarny : #0C090D
kolor tła 2: #52465D
zielony: #0B6E4F
kontrast: #F1A208
neutralny: #E0E0E2
*/
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3{
margin-top: 10px;
}
h4{
margin-top: 5px;
}
p{
margin-top: 15px;
}
a{
    cursor:pointer;
    color:inherit;
    text-decoration:none;
    pointer-events:none;
}
@media only screen and (max-width: 700px) {
    a{
        cursor:pointer;
        color:inherit;
        text-decoration:none;
        pointer-events:none;
    }
    body {
      background-color: #e0e0e2;
      width: 100%;
      height: auto;
    }
    .topnav{
        display: flex;
        justify-content: space-between;
    }
    .add{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .addbut{
        background-image:url(./add.png);
        background-size: contain;
        background-repeat:no-repeat;
        width: 35px;
        height: 35px;
    }

    .feed{
        width: 100%;
        height: 600vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .post{
        margin-top: 30px;
        width: 90vw;
        height: 60vh;
        border: black solid 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .posttop{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        margin:5px;
    }
    .user{
        display: flex;
        align-items: center;
        width: 90%;
        height: 100%;
        justify-content: flex-start;
    }
    .userpng{
        background-image: url("https://firebasestorage.googleapis.com/v0/b/hackaton-b2efc.appspot.com/o/person(pp_w480_h610)-2672349083.jpg?alt=media&token=c527c11c-0586-4f26-ae6f-82c8248b3c63)");
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
        border-radius: 100%;
        height: 7vh;
        width: 7vh;
    }
    .userinfo{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .userinfo-cont{
        display: flex;
    }
    .username{
        margin-right: 10px;
    }
    .cat{
        font-weight: 500;
    }
    .extenduserinfo{
        background-image: url(./menu-dots.png);
        background-size: contain;
        background-repeat:no-repeat;
        width: 32px;
        height: 32px;   
        position: relative;
        top:0;
        right: -50px;

    }
    .posttime{
        font-size: 15px;
        font-weight: 400;
        text-align: start;
    }
    .postpng{
        width: 85vw;
        height: 85vw;
        border-radius: 10px;
        margin-top: 5px;
    }
    .postbot{
        margin-top: 5px;
        width:100%;
        height: 10vh;
    }
    .shortpostdesc{
        font-size: 18px;
        font-weight: 400;
        text-align: start;
        margin-left: 20px;
    }
    .signed{
        margin-left: 15px;
        margin-top: 5px;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .heart{
        background-image:url(./heart.png);
        background-size: contain;
        background-repeat:no-repeat;
        width: 32px;
        height: 32px;
    }
    .coms{
        margin-left: 5px;
        margin-top: 5px;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .comsico{
        background-image:url(./comment-alt.png);
        background-size: contain;
        background-repeat:no-repeat;
        width: 32px;
        height: 32px;
    }
    .posticons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    button{
        padding: none;
        margin:none;
        border: none;
        background-color: #e0e0e2;
    }
}